html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 247, 1);
    text-align: center;
}

h1,
h2 {
    color: #3a246e;
    margin-top: 10%;
}

h3,
p,
li {
    color: rgb(242, 242, 242);
}


main {
    margin: 0 20%;
}

/* ©©©©©©©©©©©©©©©©©© NOTICE START HERE ©©©©©©©©©©©©©©©©©© */
#notice-informational {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    letter-spacing: 2px;
}

@media screen and (max-width: 490px) {
    #notice-informational {
        letter-spacing: 0px;
    }
}

#notice-informational p {
    color: rgb(31, 31, 31);
}

.span-notice {
    font-size: 20px;
    font-weight: bold;
    color: rgb(239, 65, 38);
}

#span-notice-paragraph {
    font-weight: bolder;
    font-style: italic;
    color: #3a246e;
}

/* ©©©©©©©©©©©©©©©©©© NAV-VAR START HERE ©©©©©©©©©©©©©©©©©© */
.section-nav-var {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #83916d;
}

nav {
    margin-bottom: 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: white;
    margin-right: 25px;
    transition-duration: 0.5s;
}

nav a:hover {
    color: #3a246e;
    padding: 0 10px;
}


/* ©©©©©©©©©©©©©©©©©© BODY START HERE ©©©©©©©©©©©©©©©©©© */
#image-banner {
    width: 100%;
    height: auto;
    margin-top: 3%;
}

#image-banner img {
    width: 40%;
    height: auto;
}

/* For smaller screens */
@media screen and (max-width: 1024px) {
    #image-banner img {
        width: 60%;
        height: auto;
    }
}

#format-meal-times {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

#format-meal-times h3 {
    width: 200px;
    height: auto;
    background: #83916d;
    padding: 40px 40px;
    border-radius: 6px;
}

.come-out-meal {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #83916d;
    border-radius: 6px;
}

.come-out-meal h2 {
    padding: -50% 5%;
}

.come-out-meal img {
    width: 100%;
    height: auto;
    border-radius: 0px 0px 6px 6px;
}

.service {
    display: inline-block;
    background-color: white;
    border: 5px solid #83916d;
    border-radius: 5px;
    color: #3a246e;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

.our-menu-text {
    display: flex;
    justify-content: center;
}

#our-menu-text-paragraph p {
    display: flex;
    justify-content: center;
    color: #3a246e;
    font-size: 20px;
}

table {
    height: auto;
    border: 3px solid #3a246e;
    border-style: double;
    border-radius: 8px;
    color: #3a246e;
    width: 100%;
    padding: 3px;
    max-width: 50%;
    height: auto;

}

#menu-table-container-center table{
    transform: translateX(50%);
}

@media screen and (max-width: 490px) {
    table {
        max-width: none;
    }
    #menu-table-container-center table{
        transform: translateX(0);
    }
}

td,
th {
    border: 1px solid #3a246e;
    border-radius: 5px;
    padding: 5px;
}

.menu-table-icons {
    width: 20px;
    height: auto;
    transform: translateY(2.8px);
    /* manualy vertical align */
}

#table-about-locations {
    display: flex;
    justify-content: center;
    margin: auto;
}



#origin-story-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background: #83916d;
    border-radius: 6px;
    margin-top: 50px;
}

#origin-story-container h2 {
    font-size: 36px;
}

#origin-story-container img {
    width: 100%;
    height: auto;
    border-radius: 0px 0px 6px 6px;
}

/* The idea is fix the width & height, (no for mobile divices) */
@media screen and (min-width: 490px) {
    #origin-story-container h2 {
        transform: translateY(-20px);
    }

    #origin-story-container-div {
        max-width: 80%;
    }
}

#origin-story-container-div p {
    font-size: 22px;
    color: #3a246e;
}

#contact-open-days {}

#contact-open-days p {
    color: #3a246e;
}

#contact-open-days img {
    width: 20px;
    height: auto;
    transform: translateY(3px);
}

#contact-open-days-image img {
    border-radius: 6px;
}

/* ©©©©©©©©©©©©©©©©©© FOOTER START HERE ©©©©©©©©©©©©©©©©©© */
footer {
    background-color: #83916d;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 10%;
}

footer span {
    color: #3a246e;
    font-weight: bolder;
}